.footer-bg {
    background-color: #333645;
    width: 100%;
    display: flex;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1200px;
    margin: auto;
    color: $white;
    padding: 5px 0 5px;
    ul {
        list-style: none;
        padding-left: 0;
        font-size: 0.8125rem;
        line-height: 1.375rem;
      }
    h4 {
        font-weight: 300;
        text-transform: uppercase;
      }
    a {
        color: $white;
        text-decoration: none;
        &:hover {
            color: $white;
            text-decoration: underline;
        }
      } 
      @include respond(desktop) {
        width: 975px;
      }  
      @include respond(tab-lan) {
        width: 955px;
      }
      @include respond(half-break) {
        width: 730px; 
      }  
      @include respond(tab-port) {
        width: 730px;
        overflow: hidden;  
      }  
      @include respond(mob) {
        width: 100%;
      }  
  }

  .footer-cu, 
  .footer-an, 
  .footer-web, 
  .footer-sm-all {
    @include respond(desktop) {
    width: 50%; 
    padding-left: 5%;
    }
    @include respond(mob) {
      width: 100%; 
      }
  } 

    .in-footer {
    @include respond(desktop) {
      margin-bottom: 25px;
    } 
  }
  
  /*------footer-social media------*/
  
  .footer-sm-all{
    max-width: 100%;
  }
  
  .sm-footer {
    display: inline-block;
    background-color: #000215;
    text-align: center;
    padding: 10px 30px;
    font-size: 1.7rem;
    width: 40%;
    margin-right: 15px;
    &:last-of-type {
        margin-top: 15px;
      }
    i {
        transition: transform 0.2s;
    }  
  }
  
  .sm-footer:hover i {
    transform: scale(1.1);
  }
  
  .fb-footer:hover {
    background-color: #3b5998;
  }
  
  .tw-footer:hover {
    background-color: #00aced;
  }
  
  .in-footer:hover {
    background-color: #0077b5;
  }
  
  .sm-footer:hover .fb-hover {
    text-shadow: 0px 2px 8px #001d95;
  }
  
  .sm-footer:hover .tw-hover {
    text-shadow: 0px 2px 8px #0058ff;
  }
  
  .sm-footer:hover .in-hover {
    text-shadow: 0px 2px 8px #11b7ff;
  }