.sub-menu li,
.sub-menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff; 
}

$nav-and-subnav: (   
    wd: #79539a,
    is: #286abd,
    ts: #bc2c28,
    bs: #526781,
    dm: #25a25a,
    cs: #de093f,
);

@each $class, $color in $nav-and-subnav {
    .#{$class} .sub-menu {
        background-color: $color;
    }
}

.sub-menu {
  position: absolute;
  visibility: hidden;
  text-align: left;
  font-size: 15px;
  display: flex;
  list-style-type: none;
  left: 0; 
  padding: 0; 
  width: 100%;
  padding-left: 18.5%; 
  margin: 0;
  z-index: 100;
  @include respond(desktop) {
  padding-left: 10%;
  }  
  @include respond(tab-lan) {
    padding-left: 3%;
    } 
}

.nav-and-subnav {
  flex: 1;
  margin: 0;
  padding: 0;
}

.nav-and-subnav:hover .sub-menu {
  visibility: visible;
}
