    .inner-slide{
    position: relative;
  }

  .car-title {
    color: $white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 3rem;
    margin: 0 0 25px;
  }
  
  .car-para {
    color: $white;
    font-size: 1.25rem;
    line-height: 1.875rem;
    padding: 0 0 35px;
    max-width: 400px;
  }
  
  .car-button {
    font-size: 1.063rem;
    font-weight: 400;
    text-transform: uppercase;
    padding: 15px 15px;
    border-radius: 3px;
    border: none;
    text-decoration: none;
    color: $white;
    &:active {
      box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.2);
    }
  }

  $car-btn-clr: (   
    wd: $purple,
    is: $light-blue,
    ts: $light-red,
    bs: $pale-blue,
    dm: $light-green,
    cs: $pink,
);

@each $class, $color in $car-btn-clr {
    .car-button-#{$class} {
        background-color: $color;
    }
    .car-button-#{$class}:hover {
        background-color: darken($color, 10%);
    }
}
  
  .title-icon {
    padding-left: 20px;
  }
  
  .car-all-elements {
    display: flex;
    position: absolute;
    top: 0; 
    left: 0;
    height: 100%;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    padding: 18.7%;  
    @include respond(desktop) {
        padding: 9.5%;
    }
    @include respond(tab-lan) {
        padding: 2.5%;
    }
    @include respond(half-break) {
        align-items:center;
        justify-content: center; 
        text-align: center;
        } 
    @include respond(tab-port) {
        align-items:center;
        justify-content: center; 
        text-align: center;
        }
    @include respond(mob) {
        align-items:center;
        justify-content: center;
        text-align: center; 
    }
  }
