.latest-bar {
    position: relative;
    width: 1200px;
    margin: auto;
    background-color: #fff;
    text-transform: uppercase;
    @include respond(desktop) {
      width: 975px;
    }  
    @include respond(tab-lan) {
      width: 955px;
    }
    @include respond(half-break) {
      width: 730px; 
    }  
    @include respond(tab-port) {
      width: 100%;
    } 
  }
  
  .latest-title-bar {
    letter-spacing: -1px;
    color: #333645;
    font-size: 1.25rem;
    text-transform: uppercase;
    padding: 10px 0;
    display: inline-block;
    @include respond(tab-port) {
      padding-left: 50%;
    }  
  }
  
  .latest-title-bar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333645;
    height: 5px;
    @include respond(tab-port) {
      left: 1.5rem; 
      right: -2.5rem;
    }
    @include respond(mob) {
      left: 2rem; 
      right: -2rem;
    }
  }
  
  .latest-title-back {
    position: relative;
    display: inline-block; 
  }