.desc-box-background {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    margin-top: 2em;
    background: $nm-dark-blue url("./../img/branded.png");
    background-position: right;
    background-repeat: no-repeat;
  }
  
  .desc-box {
    width: 1200px;
    margin: auto;
    color: $white;
  }
  
  .desc-box-header {
    text-transform: uppercase;
    font-size: 2.25rem;
    font-weight: 400;
    margin: 30px 0 25px 0;
    max-width: 50%;
  }
  
  .desc-box p:nth-of-type(1) { //focuses first sentence
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.875rem;
    margin-bottom: 25px;
    max-width: 50%;
  }
  
  .desc-box p {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.875rem;
    margin-bottom: 25px;
    max-width: 50%;
  }
  
  .desc-btn {
    font-size: 1.063rem;
    font-weight: 400;
    text-transform: uppercase;
    padding: 15px 15px;
    border-radius: 3px;
    border: none;
    text-decoration: none;
    background-color: $white;
    color: $nm-dark-blue;
    margin-bottom: 2em;
  }
  
  .desc-btn:hover .hover-btn,
  .desc-btn:hover {
    background-color: #ebebeb;
  }