.latest-bar {
    position: relative;
    width: 1200px;
    margin: auto;
    background-color: #fff;
    text-transform: uppercase;
    @include respond(desktop) {
      width: 975px;
    }  
    @include respond(tab-lan) {
      width: 955px;
    }
  }
  
  .latest-title-bar {
    letter-spacing: -1px;
    color: #333645;
    font-size: 1.25rem;
    text-transform: uppercase;
    padding: 20px 0;
    display: inline-block;
  }
  
  .latest-title-bar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #333645;
    height: 5px;
  }
  
  .latest-title-back {
    position: relative;
    display: inline-block;
  }