.news-section {
    box-shadow: inset 0px 5px 25px rgba(0, 0, 0, 0.2);
  }
  
.news-blocks {
    display: flex;
    width: 1200px;
    margin: auto;
    justify-content: space-between; 
    img {
        transition: transform 0.2s ease-in;
        height: auto; 
    }
    .news-blocks-inner:last-of-type {
        @include respond(desktop) {  
        display: none; }
    }   
    @include respond(desktop) {
      width: 975px;
    }  
    @include respond(tab-lan) {
      width: 955px;
    }
    @include respond(tab-port) {
      width: 730px;
    }
  }

.news-blocks-inner {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    text-decoration: none;
    border: 1px solid #c7c3c3;
    border-radius: 3px;
    width: 32%;
    box-shadow: 0px 3px 350px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: relative;
    > p {
        color: #666666;
        letter-spacing: 0.4px;
        font-size: 1rem;
        margin: 15px 15px 0px 22px;
        font-size: 0.9em;
      }    
      @include respond(desktop) {
        width:calc(50% - 20px);
      }  
      @include respond(tab-port) {
        width:calc(50% - 10px)
      }
    }

.news-main-images {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    border-radius: 3px 3px 0 0;
    object-fit: cover;
    overflow: hidden;
    height: auto;
    object-fit: contain;
  }
  
.news-main-images:hover img.scale-img {
    transform: scale(1.1, 1.1);
  }
  
.news-header-one,
.news-header-two {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-decoration: none;
    display: inline-block;
    margin: 15px 15px auto 22px;
    &:hover {
        text-decoration: underline;
    }
 }
  
.news-header-one {
    color: $purple;
  }
  
.news-header-two {
    color: $light-green;
  }
  
.box-btn {
    margin-top: 25px;
    margin-left: 22px;
  }  

.box-btn-wd:hover {
    background-color: $dark-purple;
}  

.box-btn-dm:hover {
    background-color: $dark-green;
}
  
.news-section hr {
    width: 88%;
    margin-bottom: 25px;
  }
  
.news-thumbnail {
    margin-left: 22px;
    border-radius: 50%;
    display: inline;
    margin-right: 22px;
  }
  
  .news-posted-by {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 1.3em;
    p {
        display: inline;
        margin: 0;
        padding: 0;
        flex-direction: column;
        color: #666;
        font-size: 0.9em;
      }
  }
  
  .news-block-credits {
     align-items: center;
     margin-bottom: 20px;
     margin-left: 20px;
  }

.tool-tip {
  position: absolute;
  top: 10px;
  right: 0;
  color: #fff;
  font-size: 0.75rem;
  padding: 0 10px;
  line-height: 1.438rem;
  text-transform: uppercase;
  z-index: 1;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  &:hover {
    text-decoration: underline;
  }
}

.tool-tip-one {
  background-color: $purple;
}

.tool-tip-two {
  background-color: $light-green;
}

.tool-tip-card {
  position: absolute;
  color: #fff;
  font-size: 1em;
  visibility: hidden;
  bottom: 180%;
  right: 0;
  width: 203px;
  background-color: #333645;
  font-weight: 400;
  text-transform: none;
  border-radius: 3px;
  padding: 10px;
}

.tool-tip-card-arrow {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: #333645;
  bottom: -5px;
  right: 10px;
  transform: rotate(45deg);
}

.card-1 {
  width: 195px;
}

.card-2 {
  width: 140px;
}

.tool-tip:hover .tool-tip-card {
  visibility: visible;
}