.sidebar {
    background-color:#333645;
    z-index: 20;
    position: absolute;
    right: -320px;
    top: 0;
    height: 100vh;
    width: 320px; 
    text-transform: uppercase;
    align-content: center;
    padding: 0; 
    border: 1px grey solid;
    transition: all ease-in-out 200ms;
    -webkit-transition: all ease-in-out 200ms;
    ul {
        list-style-type: none; 
        padding: 0; 
        margin: 0; 
        padding-bottom: 20px;
        &:last-of-type {
            padding-bottom: 0;
        }
    } 
    a {
        color: white;
        text-decoration: none; 
    }
    .sidebar-header {
        font-size: 1.1rem;
        line-height: 3;
        display: block;
        padding-left: 20px;
        border-bottom: solid 1px #555555;
        &:hover {
            background-color: #3d404e;
        }

    }
    .sidebar-sub-cat {
        line-height: 3;
        background-color: #262834;
        display: block;
        padding-left: 20px;
        border: groove 1px #696969;
        border-left: none;
        border-top:none;
        &:before {
            content: "\00BB";
            padding: 10px;
        }
    }
} 


