.sub-menu li,
.sub-menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff; 
}

$nav-and-subnav: (   
    wd: #79539a,
    is: #286abd,
    ts: #bc2c28,
    bs: #526781,
    dm: #25a25a,
    cs: #de093f,
);

@each $class, $color in $nav-and-subnav {
    .#{$class} .sub-menu {
        background-color: $color;
    }
}

.sub-menu {
  position: absolute;
  visibility: hidden;
  text-align: left;
  width: 100%; 
  font-size: 15px;
  display: flex;
  list-style-type: none;
  left: 0; 
  padding: 0;
  &::before {
    content: "";
    position: absolute;
    background-color: inherit;
    height: 47px;
    right: 100%;
    width: 2000px;  
  }  
  &::after {
    content: "";
    position: absolute;
    background-color: inherit;
    height: 47px;
    left: 100%;
    width: 2000px; 
  } 
}

.nav-and-subnav {
  flex: 1;
}

.nav-and-subnav:hover .sub-menu {
  visibility: visible;
}
