$white: #fff;
$light-grey: #999aa2;
$dark-grey: #84858f;
$border-grey: #525252;
$nm-dark-blue: #333645;
$pale-blue: #67809f;
$light-blue: #4183d7;
$dark-blue: #2a6ec6;
$purple: #926fb1;
$dark-purple: #7e57a0;
$light-red: #d64541;
$pink:#f62459;
$light-green: #2ecc71;
$dark-green: #2ab162;
